.game {
  height: 100%;
  background-color: rgb(1, 244, 1);
  margin: 0;
}

.header {
  text-align: center;
  font-size: 75px;
  margin: 0;
}
.search {
  text-align: center;
  width: 200px;
  border: 2px solid black;
  border-radius: 5px;
}
#id {
  height: 100%;
}
